.nav-item a{
    text-decoration: none;
    margin-right: 10px;
    color:black!important;
}
nav{
    background-color: green;

}
.photo img{
    width:40px;
    height:40px;
    border-radius: 50%;
}